[global_resource_power]

displayName: E
displayNameShort: E 
hidden: false
priority: 1
displayColor: yellow



------LtMancy---------

[hiddenAction_soul]
autoTriggerOnEvent: destroyed
requireConditional: if not self.tags(includes="Lt")
spawnUnits:Soul

[resource_raise]
displayName: raise
displayRoundedDown:true
hidden:true